

.card{
 width: 350px;
 height: 500px;
 background-color: whitesmoke;
 border-radius: 15px;

}

.card img{
  width: 320px;
  height: 350px;
  padding: 15px;
  border-radius: 20px;
}

.card h4,h5{
  text-align: start;
  margin: 0px;
  margin-left: 20px;
}

.card h4{
  font-size: 20px;
}

.btn-container{
text-align: center;
}

.btn{
  border: none;
  width: 120px;
  height: 30px;
  background-color: orange;
  border-radius: 15px;
  margin-top: 20px;
}

.btn:hover{
  background-color: blue;
  color: white;
}